DynamicRouterNetwork/[Bb]uilds/*
DynamicRouterNetwork/[Bb]uild/*

# For Bryce, VS Code generates settings files in the working directory
.vscode/*

#ignore Eclipse project settings files as well
*.project
*.cproject